In [24]:
import pandas as pd

In [25]:
df = pd.read_excel('unicorn cb 11 dec 15.xlsx')

In [26]:
df.head( )

,Company,Valuation ($B),Date Joined,Country,Industry,Investor
0,Uber,$51,8/23/2013,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo..."
1,Xiaomi,$46,12/21/2011,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ..."
2,Airbnb,$25.5,7/26/2011,United States,eCommerce/Marketplace,"General Catalyst Partners,\n\t Andreessen Hor..."
3,Palantir\n\t Technologies,$20,5/5/2011,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel"
4,Snapchat,$16,12/11/2013,United States,Social,"Benchmark Capital, General\n\t Catalyst Partn..."

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company         144 non-null    object
 1   Valuation ($B)  144 non-null    object
 2   Date Joined     144 non-null    object
 3   Country         144 non-null    object
 4   Industry        144 non-null    object
 5   Investor        144 non-null    object
dtypes: object(6)
memory usage: 6.9+ KB

In [28]:
df1 = df[(df["Country"] == "India") & (df["Industry"] == "Fintech")]
df1

,Company,Valuation ($B),Date Joined,Country,Industry,Investor
53,One97\n\t Communications,$2,5/12/2015,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba..."

In [29]:
df1.shape

(1, 6)

In [30]:
df2 = pd.read_excel('unicorn cb 23 dec 16.xlsx')

In [31]:
df2.head()

,Company,Valuation ($B),Date Joined,Country,Industry,Investor
0,Uber,$68,8/23/2013,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo..."
1,Xiaomi,$46,12/21/2011,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ..."
2,Didi Chuxing,$33.8,12/31/2014,China,On-Demand,"Matrix Partners, Tiger\n\t Global Management,..."
3,Airbnb,$30,7/26/2011,United States,eCommerce/Marketplace,"General Catalyst Partners,\n\t Andreessen Hor..."
4,Palantir\n\t Technologies,$20,5/5/2011,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel"

In [32]:
df2 = df2[(df2["Country"] == "India") & (df2["Industry"] == "Fintech")]
df2.shape

(1, 6)

In [33]:

# Define the file paths of your Excel files
file_paths = ['unicorn cb 11 dec 15.xlsx', 'unicorn cb 23 dec 16.xlsx', 'unicorn cb 23 dec 17.xlsx','unicorn cb 29 dec 18.xlsx','unicorn cb 31 dec 19.xlsx','unicorn cb 31 dec 20.xlsx','unicorn cb 31 dec 21.xlsx']  # Add the paths of your files

# Read each Excel file into a DataFrame
dfs = [pd.read_excel(file) for file in file_paths]

# Concatenate the DataFrames
merged_df = pd.concat(dfs, ignore_index=True)

# Save the merged DataFrame to a new Excel file
merged_df.to_excel('merged_file.xlsx', index=False)

In [34]:
merged_df.shape

(2757, 7)

In [35]:
merged_df.head()

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,tablescraper-selected-row 7
0,Uber,$51,8/23/2013,United States,On-Demand,"Lowercase Capital,\n\t Benchmark Capital, Goo...",NaN
1,Xiaomi,$46,12/21/2011,China,Hardware,"Digital Sky Technologies,\n\t QiMing Venture ...",NaN
2,Airbnb,$25.5,7/26/2011,United States,eCommerce/Marketplace,"General Catalyst Partners,\n\t Andreessen Hor...",NaN
3,Palantir\n\t Technologies,$20,5/5/2011,United States,Big Data,"RRE Ventures, Founders\n\t Fund, In-Q-Tel",NaN
4,Snapchat,$16,12/11/2013,United States,Social,"Benchmark Capital, General\n\t Catalyst Partn...",NaN

In [36]:
merged_df = merged_df[(merged_df["Country"] == "India") & (merged_df["Industry"] == "Fintech")]
merged_df.shape

(15, 7)

In [37]:
merged_df

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,tablescraper-selected-row 7
53,One97\n\t Communications,$2,5/12/2015,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
169,One97\n\t Communications (Paytm),$4.83,5/12/2015,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
349,One97\n\t Communications (operates Paytm),$5.7,5/12/2015,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
568,One97\n\t Communications (operates Paytm),$10,5/12/2015,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
815,PolicyBazaar,$1,6/25/2018,India,Fintech,"Info Edge, Softbank Capital",NaN
861,One97\n\t Communications,$16,5/12/2015,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
1028,BillDesk,$1.8,11/16/2018,India,Fintech,"Temasek Holdings, Visa, March Capital Partners",NaN
1066,PolicyBazaar,$1.5,6/25/2018,India,Fintech,"Info Edge, Softbank Capital",NaN
1291,One97 Communications,$16,5/12/2015,India,Fintech,"Intel Capital, Sapphire Ventures, Alibaba Group",NaN
1324,National Stock Exchange of India,$6.5,7/1/2020,India,Fintech,"TA Associates, SoftBank Group, GS Growth",NaN
1487,Pine Labs,$2,1/24/2020,India,Fintech,"MasterCard, Temasek, PayPal Ventures",NaN
1494,BillDesk,$1.9,11/16/2018,India,Fintech,"Temasek Holdings, Visa, March Capital Partners",NaN
1528,Pine Labs,$2,1/24/2020,India,Fintech,"MasterCard, Temasek, PayPal Ventures",NaN
1548,PolicyBazaar,$1.5,5/6/2019,India,Fintech,"Info Edge, Softbank Capital",NaN
1783,Razorpay,$1,10/11/2020,India,Fintech,"Y Combinator, Tiger Global Management, Matrix ...",NaN

In [38]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 53 to 1783
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Company                      15 non-null     object
 1   Valuation ($B)               15 non-null     object
 2   Date Joined                  15 non-null     object
 3   Country                      15 non-null     object
 4   Industry                     15 non-null     object
 5   Investor                     15 non-null     object
 6   tablescraper-selected-row 7  0 non-null      object
dtypes: object(7)
memory usage: 960.0+ bytes

In [39]:
# Convert 'Joined' column to date format
merged_df['Date Joined'] = pd.to_datetime(merged_df['Date Joined'])

# Add 3 years to each year's data
merged_df['Date Joined'] = merged_df['Date Joined'] + pd.DateOffset(years=3)

In [40]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 53 to 1783
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Company                      15 non-null     object
 1   Valuation ($B)               15 non-null     object
 2   Date Joined                  15 non-null     datetime64[ns]
 3   Country                      15 non-null     object
 4   Industry                     15 non-null     object
 5   Investor                     15 non-null     object
 6   tablescraper-selected-row 7  0 non-null      object
dtypes: datetime64[ns](1), object(6)
memory usage: 960.0+ bytes

In [41]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 53 to 1783
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Company                      15 non-null     object
 1   Valuation ($B)               15 non-null     object
 2   Date Joined                  15 non-null     datetime64[ns]
 3   Country                      15 non-null     object
 4   Industry                     15 non-null     object
 5   Investor                     15 non-null     object
 6   tablescraper-selected-row 7  0 non-null      object
dtypes: datetime64[ns](1), object(6)
memory usage: 960.0+ bytes

In [42]:
merged_df

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,tablescraper-selected-row 7
53,One97\n\t Communications,$2,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
169,One97\n\t Communications (Paytm),$4.83,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
349,One97\n\t Communications (operates Paytm),$5.7,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
568,One97\n\t Communications (operates Paytm),$10,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
815,PolicyBazaar,$1,2021-06-25,India,Fintech,"Info Edge, Softbank Capital",NaN
861,One97\n\t Communications,$16,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
1028,BillDesk,$1.8,2021-11-16,India,Fintech,"Temasek Holdings, Visa, March Capital Partners",NaN
1066,PolicyBazaar,$1.5,2021-06-25,India,Fintech,"Info Edge, Softbank Capital",NaN
1291,One97 Communications,$16,2018-05-12,India,Fintech,"Intel Capital, Sapphire Ventures, Alibaba Group",NaN
1324,National Stock Exchange of India,$6.5,2023-07-01,India,Fintech,"TA Associates, SoftBank Group, GS Growth",NaN
1487,Pine Labs,$2,2023-01-24,India,Fintech,"MasterCard, Temasek, PayPal Ventures",NaN
1494,BillDesk,$1.9,2021-11-16,India,Fintech,"Temasek Holdings, Visa, March Capital Partners",NaN
1528,Pine Labs,$2,2023-01-24,India,Fintech,"MasterCard, Temasek, PayPal Ventures",NaN
1548,PolicyBazaar,$1.5,2022-05-06,India,Fintech,"Info Edge, Softbank Capital",NaN
1783,Razorpay,$1,2023-10-11,India,Fintech,"Y Combinator, Tiger Global Management, Matrix ...",NaN

In [43]:
merged_df["Company"].value_counts()

PolicyBazaar                                  3
One97\n\t  Communications                     2
One97\n\t  Communications (operates Paytm)    2
BillDesk                                      2
Pine Labs                                     2
One97\n\t  Communications (Paytm)             1
One97 Communications                          1
National Stock Exchange of India              1
Razorpay                                      1
Name: Company, dtype: int64

In [44]:
merged_df['Valuation ($B)'] = merged_df['Valuation ($B)'].str.replace('$', '').astype(float)
merged_df

C:\Users\91937\AppData\Local\Temp\ipykernel_28920\1939094595.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_df['Valuation ($B)'] = merged_df['Valuation ($B)'].str.replace('$', '').astype(float)

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,tablescraper-selected-row 7
53,One97\n\t Communications,2.00,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
169,One97\n\t Communications (Paytm),4.83,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
349,One97\n\t Communications (operates Paytm),5.70,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
568,One97\n\t Communications (operates Paytm),10.00,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
815,PolicyBazaar,1.00,2021-06-25,India,Fintech,"Info Edge, Softbank Capital",NaN
861,One97\n\t Communications,16.00,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
1028,BillDesk,1.80,2021-11-16,India,Fintech,"Temasek Holdings, Visa, March Capital Partners",NaN
1066,PolicyBazaar,1.50,2021-06-25,India,Fintech,"Info Edge, Softbank Capital",NaN
1291,One97 Communications,16.00,2018-05-12,India,Fintech,"Intel Capital, Sapphire Ventures, Alibaba Group",NaN
1324,National Stock Exchange of India,6.50,2023-07-01,India,Fintech,"TA Associates, SoftBank Group, GS Growth",NaN
1487,Pine Labs,2.00,2023-01-24,India,Fintech,"MasterCard, Temasek, PayPal Ventures",NaN
1494,BillDesk,1.90,2021-11-16,India,Fintech,"Temasek Holdings, Visa, March Capital Partners",NaN
1528,Pine Labs,2.00,2023-01-24,India,Fintech,"MasterCard, Temasek, PayPal Ventures",NaN
1548,PolicyBazaar,1.50,2022-05-06,India,Fintech,"Info Edge, Softbank Capital",NaN
1783,Razorpay,1.00,2023-10-11,India,Fintech,"Y Combinator, Tiger Global Management, Matrix ...",NaN

In [45]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 53 to 1783
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Company                      15 non-null     object
 1   Valuation ($B)               15 non-null     float64
 2   Date Joined                  15 non-null     datetime64[ns]
 3   Country                      15 non-null     object
 4   Industry                     15 non-null     object
 5   Investor                     15 non-null     object
 6   tablescraper-selected-row 7  0 non-null      object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 960.0+ bytes

In [46]:
merged_df

,Company,Valuation ($B),Date Joined,Country,Industry,Investor,tablescraper-selected-row 7
53,One97\n\t Communications,2.00,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
169,One97\n\t Communications (Paytm),4.83,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
349,One97\n\t Communications (operates Paytm),5.70,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
568,One97\n\t Communications (operates Paytm),10.00,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
815,PolicyBazaar,1.00,2021-06-25,India,Fintech,"Info Edge, Softbank Capital",NaN
861,One97\n\t Communications,16.00,2018-05-12,India,Fintech,"Intel Capital, Sapphire\n\t Ventures, Alibaba...",NaN
1028,BillDesk,1.80,2021-11-16,India,Fintech,"Temasek Holdings, Visa, March Capital Partners",NaN
1066,PolicyBazaar,1.50,2021-06-25,India,Fintech,"Info Edge, Softbank Capital",NaN
1291,One97 Communications,16.00,2018-05-12,India,Fintech,"Intel Capital, Sapphire Ventures, Alibaba Group",NaN
1324,National Stock Exchange of India,6.50,2023-07-01,India,Fintech,"TA Associates, SoftBank Group, GS Growth",NaN
1487,Pine Labs,2.00,2023-01-24,India,Fintech,"MasterCard, Temasek, PayPal Ventures",NaN
1494,BillDesk,1.90,2021-11-16,India,Fintech,"Temasek Holdings, Visa, March Capital Partners",NaN
1528,Pine Labs,2.00,2023-01-24,India,Fintech,"MasterCard, Temasek, PayPal Ventures",NaN
1548,PolicyBazaar,1.50,2022-05-06,India,Fintech,"Info Edge, Softbank Capital",NaN
1783,Razorpay,1.00,2023-10-11,India,Fintech,"Y Combinator, Tiger Global Management, Matrix ...",NaN

In [47]:
aggregated_df = merged_df.groupby('Date Joined')['Valuation ($B)'].sum()

# Reset the index to convert 'Date Joined' back to a column
aggregated_df = aggregated_df.reset_index()

print(aggregated_df)

  Date Joined  Valuation ($B)
0  2018-05-12           54.53
1  2021-06-25            2.50
2  2021-11-16            3.70
3  2022-05-06            1.50
4  2023-01-24            4.00
5  2023-07-01            6.50
6  2023-10-11            1.00

In [ ]:
names = ["One97/Paytm","Policy_Bazar","BillDesk",""]